/* Catch-All Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "PlotHolesBB";
  font-weight: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Fonts and Font Classes */
@font-face {
  font-family: "Digital";
  src: url("/fonts/digital-7-mono.ttf") format("truetype");
}

@font-face {
  font-family: "DotGothic16";
  src: url("/fonts/dotgothic16.ttf") format("truetype");
}

@font-face {
  font-family: "Lilita One";
  src: url("/fonts/lilita-one.regular.ttf") format("truetype");
}

@font-face {
  font-family: "PlotHolesBB-Bold";
  src: url("/fonts/PlotHolesBB-Bold.otf") format("opentype");
}

@font-face {
  font-family: "PlotHolesBB-BoldItalic";
  src: url("/fonts/PlotHolesBB-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "PlotHolesBB";
  src: url("/fonts/PlotHolesBB-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PlotHolesBB-Italic";
  src: url("/fonts/PlotHolesBB-Italic.otf") format("opentype");
}

.font-regular {
  font-family: "PlotHolesBB";
}

.font-bold {
  font-family: "PlotHolesBB-Bold";
}

.font-italic {
  font-family: "PlotHolesBB-Italic";
}

.font-bold-italic {
  font-family: "PlotHolesBB-BoldItalic";
}

/* Desktop */
.mobile-shown {
  display: none;
}
.mobile-hidden {
  display: block;
}

/* Mobile */
@media (max-width: 1000px) {
  .mobile-shown {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
}

/* General Style Classes */
.position-relative {
  position: relative;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

/* Sizing */
p {
  font-size: 1vw;
}
h3 {
  font-size: 2vw;
}
h4 {
  font-size: 1.8vw;
}
h5 {
  font-size: 1.3vw;
}
.svg-page-title {
  height: 5.5vw;
  max-width: 100%;
}
.svg-page-title-long {
  height: 4.5vw;
  max-width: 100%;
}

@media (max-width: 1000px) {
  p {
    font-size: 3vw;
  }
  h3 {
    font-size: 6vw;
  }
  h4 {
    font-size: 4.6vw;
  }
  h5 {
    font-size: 4vw;
  }
  .svg-page-title {
    height: 14vw;
  }
  .svg-page-title-long {
    height: 10vw;
  }
}

@media (min-width: 2000px) {
  p {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 2.6rem;
  }
  .svg-page-title {
    height: 5rem;
  }
  .svg-page-title-long {
    height: 4.2rem;
  }
}
