/* starting ENTER animation */
.pageleft-enter {
    z-index: 3;
    transform: perspective(1200px) rotateY(90deg);
    transform-origin: right center;
  }

  /* ending ENTER animation */
  .pageleft-enter-active {
    transform: perspective(1200px) rotateY(0deg);
    transition: all 1000ms ease-in-out;
    transition-delay: 1000ms;
  }
  
  /* starting EXIT animation */
  .pageleft-exit {
    z-index: 2;
    transform: perspective(1200px) rotateY(0deg);
    transform-origin: left center;
  }
  
  /* ending EXIT animation */
  .pageleft-exit-active {
    transform: perspective(1200px) rotateY(0deg);
    transition: all 1000ms ease-in-out;
  }


  /* starting ENTER animation */
.pageright-enter {
    z-index: 3;
    transform: perspective(1200px) rotateY(0deg);
    transform-origin: left center;
  }

  /* ending ENTER animation */
  .pageright-enter-active {
    transform: perspective(1200px) rotateY(-90deg);
    transition: all 1000ms ease-in-out;
  }
  
  /* starting EXIT animation */
  .pageright-exit {
    z-index: 2;
    transform: perspective(1200px) rotateY(0deg);
    transform-origin: left center;
  }
  
  /* ending EXIT animation */
  .pageright-exit-active {
    transform: perspective(1200px) rotateY(0deg);
    transition: all 1000ms ease-in-out;
  }